{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>
    <p>This is the homepage of the Library Catalog & Borrowing System.</p>
    <a href="{{ path('app_books') }}">Go to Borrowing Page</a>
{% endblock %}
