{% extends 'base.html.twig' %}

{% block title %}New Book{% endblock %}

{% block body %}
    <h1>Create new Book</h1>

    {{ include('add_book/_form.html.twig') }}

    <div style="margin-top: 15px;">
        <a href="{{ path('app_add_book_index') }}">back to list</a>
    </div>
{% endblock %}
