{% extends 'base.html.twig' %}

{% block title %}{{ page_title }}{% endblock %}

{% block body %}
    <h1>{{ page_title }}</h1>

    <p>You have successfully returned: <strong>{{ book_title }}</strong></p>

    <a href="{{ path('app_books') }}">⬅ Back to catalog</a>
{% endblock %}
